@model Proyecto_Analisis_Final_20202.Models.Empresa

@{
    ViewData["Title"] = "EditarEmpresa";

}


<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br/>

<h1 style="text-align:center; font-family:'Radley'" >Datos de la Empresa</h1>
<hr />

<form asp-action="EditarEmpresa">
    <div class="container" style="text-align:center; font-family:'Radley'">
        <div class="row align-items-start">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Cedula_Juridica" class="control-label"></label>
                    <input asp-for="Cedula_Juridica" class="form-control" placeholder="123456789" readonly />
                    <span asp-validation-for="Cedula_Juridica" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Razon_Social" class="control-label"></label>
                    <input asp-for="Razon_Social" class="form-control" />
                    <span asp-validation-for="Razon_Social" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="form-group">
                    <label asp-for="ID_Provincia" class="control-label"></label>
                    @Html.DropDownList("ID_Provincia", (SelectList)ViewBag.Pais, "Seleccione", new { @class = "form-control", id = "Lista_Provincia" })
                    <span asp-validation-for="ID_Provincia" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="ID_Canton" class="control-label"></label>
                    @Html.DropDownList("ID_Canton", (SelectList)ViewBag.Cantones, new { @class = "form-control", id = "Lista_Canton" })
                    <span asp-validation-for="ID_Canton" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="ID_Distrito" class="control-label"></label>
                    @Html.DropDownList("ID_Distrito", (SelectList)ViewBag.Distritos, new { @class = "form-control", id = "Lista_Distrito" })
                    <span asp-validation-for="ID_Distrito" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-4">

            </div>
            <div class="col-4">
                <label asp-for="Codigo_Postal" class="control-label"></label>
                <input asp-for="Codigo_Postal" class="form-control" id="CodigoPostal" readonly />
                <span asp-validation-for="Codigo_Postal" class="text-danger"></span>
            </div>

            <div class="col-4">
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div style=" font-family:'Radley' " class="form-group">
                <br />
                <a style="color: white; font-family:'Radley'; font-size: 15px; font-weight:normal; text-align:left;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn btn-success"> Volver</a>
                    <input style="text-align:center ; margin-left: 50px"  type="submit" value=" Actualizar " class="btn btn-success" />
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</form>



<script>
    var ListaProvincia = document.getElementById("Lista_Provincia");
    var ListaCanton = document.getElementById("Lista_Canton");
    var ListaDistrito = document.getElementById("Lista_Distrito");
    var CodigoPostal = document.getElementById("CodigoPostal");

    ListaProvincia.addEventListener("change", RecargarCanton)
    ListaCanton.addEventListener("change", RecargarDistrito)
    ListaDistrito.addEventListener("change", RecargarCodigoPostal)

    RecargarCanton();
    RecargarDistrito();
    RecargarCodigoPostal();

    function RecargarCanton()
    {
        fetch("@Url.Content("~/Ubicacion/RecargarCanton")" + "?ID_Provincia=" + ListaProvincia.value)
            .then(function (result)
            {
                if (result.ok)
                {
                    return result.json();
                }
            })
            .then(function (NuevosCantones)
            {
                console.log(NuevosCantones);

                ListaCanton.innerHTML = "";
                CodigoPostal.innerHTML = "";
                CodigoPostal.value = "";
                NuevosCantones.forEach(function (element)
                    {
                    let opciones = document.createElement("option")
                    opciones.appendChild(document.createTextNode(element.nombre_Canton));
                    opciones.value = element.iD_Canton;
                    ListaCanton.appendChild(opciones);
                })
                RecargarDistrito();
                RecargarCodigoPostal();
            })
    }

    function RecargarDistrito()
    {
        var Ubicacion = ListaCanton.value + "/" + ListaProvincia.value  ;
        fetch("@Url.Content("~/Ubicacion/RecargarDistrito")" + "?Ubicacion=" + Ubicacion)
            .then(function (result)
            {
                if (result.ok)
                {
                    return result.json();
                }
            })
            .then(function (NuevosDistritos)
            {
                console.log(NuevosDistritos);
                ListaDistrito.innerHTML = "";
                CodigoPostal.innerHTML = "";
                CodigoPostal.value = "";
                NuevosDistritos.forEach(function (element)
                    {
                    let opciones = document.createElement("option")
                    opciones.appendChild(document.createTextNode(element.nombre));
                    opciones.value = element.iD_Distrito;
                    ListaDistrito.appendChild(opciones);
                })
                RecargarCodigoPostal();
            })
    }
    function RecargarCodigoPostal()
    {
        console.log(ListaCanton.value.length);
        if (ListaProvincia.value != 0 && ListaCanton.value ==0 && ListaDistrito.value == 0 ) { CodigoPostal.value = ListaProvincia.value; }
        else if (ListaProvincia.value != 0 && ListaCanton.value != 0 && ListaDistrito.value == 0)
        {
            if (ListaCanton.value.length == 2) {
                CodigoPostal.value = ListaProvincia.value + ListaCanton.value;
            } else {
                CodigoPostal.value = ListaProvincia.value + "0" + ListaCanton.value;
            }
        }
        else if (ListaProvincia.value != 0 && ListaCanton.value != 0 && ListaDistrito.value != 0)
        {
            if (ListaCanton.value.length != 2 && ListaDistrito.value.length != 2) {
                CodigoPostal.value = ListaProvincia.value + "0" + ListaCanton.value + "0" + ListaDistrito.value;

            } else {
                CodigoPostal.value = ListaProvincia.value + ListaCanton.value + ListaDistrito.value;
            }

        }
    }

</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
