@model IEnumerable<Proyecto_Analisis_Final_20202.Models.Inventario>

@{
    ViewData["Title"] = "ListarInventario";
}

<h1>Listar Inventario</h1>

<p>
    <a asp-action="AgregarInventario">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Prodcuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Prodcuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarProducto", new { Codigo_Prodcuto = item.Codigo_Prodcuto}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
