@model IEnumerable<Proyecto_Analisis_Final_20202.Models.Persona>

@{
    ViewData["Title"] = "ListarPersonas";
}
<br />
<h1 style=" font-family:'Radley' ">Listar Personas</h1>

    <link href="~/css/FondoPantalla.css" rel="stylesheet" />
    <br />

    <p>
        <a asp-action="AgregarPersona" style=" font-family:'Radley' ">Agregar</a>
    </p>
    <table class="table" style=" font-family:'Radley' " >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo.Correo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style=" font-family:'Radley' ">
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Correo.Correo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarPersona", new { Cedula=item.Cedula })
                    </td>
                </tr>
            }
        </tbody>
    </table>
