@model IEnumerable<Proyecto_Analisis_Final_20202.Models.Inventario>

@{
    ViewData["Title"] = "ListarProductosDisponibles";
}

<br />
<h1 style="text-align:center; font-weight:bold; font-family: 'Radley';font-size:40px ">Productos Disponibles</h1>

<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br />

<table class="table"  style=" text-align: center; font-family:'Radley'">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Prodcuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Estado)
            </th>          
            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <tr style=" font-family:'Radley'">
            <th>
                @Html.DisplayFor(modelItem => item.Codigo_Prodcuto)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Nombre)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Precio_Compra)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Precio_Venta)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Cantidad_Disponible)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ID_Estado)
            </th>

         </tr>
        }
    </tbody>
</table>
