@model IEnumerable<Proyecto_Analisis_Final_20202.Models.Inventario>

@{
    ViewData["Title"] = "ListarProductosFueraDeServicio";
}

<h1>ListarProductosFueraDeServicio</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Prodcuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecionDeVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecionDeCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Prodcuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecionDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecionDeCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
               
            </td>
        </tr>
}
    </tbody>
</table>
