@model IEnumerable<Proyecto_Analisis_Final_20202.Models.Inventario>

@{
    ViewData["Title"] = "ListarProductosDisponibles";
}

<br />
<h1 style="text-align:center; font-weight:bold; font-family: 'Radley';font-size:40px ">Productos Disponibles</h1>

<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br />

<p>
    <a title="AgregarInventario" href="AgregarInventario?Accion=Disponibles" style="font-family: 'Radley'; color:black; font-size:16px ">
        <img src="~/Agregar.png" width="40" height="40" alt="AgregarInventario" />
        Agregar
    </a>
</p>

<table class="table" style=" text-align: center;font-family:'Radley' ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Prodcuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Estado)
            </th>
            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style=" font-family:'Radley'">
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_Prodcuto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad_Disponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Estado)
                </td>
                <td>
                    @Html.ActionLink("", "EditarProductoDisponible", new { Codigo_Prodcuto = item.Codigo_Prodcuto }, new { @style = "background:url('/EditarInventario.png') no-repeat; display:block; height: 35px; width: 35px" })
                </td>
                <td>
                    @Html.ActionLink("", "EliminarProducto", new { Codigo_Prodcuto = item.Codigo_Prodcuto, Accion = "Disponibles" }, new { @style = "background:url('/cancelar.png') no-repeat ; display:block; height: 36px; width: 36px" })
                </td>
            </tr>
        }
    </tbody>
</table>

