@model IEnumerable<Proyecto_Analisis_Final_20202.Models.DetalleFactura>

@{
    ViewData["Title"] = "VentanaPrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <br />
    <h1> Sistema de Facturación</h1>
    </center>

        <div class="row">
            <div class="col-md-10">
                <table class="table" style="border-collapse: separate; ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Codigo_Producto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre_Articulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio_Unidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Impuesto_Producto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Codigo_Producto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre_Articulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio_Unidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Impuesto_Producto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


