@model IEnumerable<Proyecto_Analisis_Final_20202.Models.DetalleFactura>

@{
    ViewData["Title"] = "VentanaPrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<h4 style=" font-family:'Radley' ">Sistema de facturacion</h4>

<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br />

<div class="row" style=" font-family:'Radley' ">
    <div class="col-md-1"><input id="CampoNuevoArticulo" type="text" placeholder="Código" /></div>
    <div class="col-md-1"> </div>
    <div class="col-md-1"><input style=" font-family:'Radley'; background-color:#0B73D5" type="submit" value="Agregar" /></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
</div>
<br />
<div class="row">
    <div class="col-md-10">
        <table-container style="max-width: 100%; overflow-y: scroll;">
            <table class="table" >
                <thead>
                    <tr style=" font-family:'Radley' ; text-align:center; background-color: lightblue;  font-size:medium; color:black;">
                        <th>
                            @Html.DisplayNameFor(model => model.Codigo_Producto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre_Articulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Precio_Unidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descuento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Impuesto_Producto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre_Articulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio_Unidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descuento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Impuesto_Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </table-container>
      
    </div>

    <br />
    <br />

    <div class="col-md-3">
        <table class="table" style="border-collapse: separate; ">
            <thead style=" font-family:'Radley' ; text-align:center; background-color: lightblue;  font-size:medium; color:black;">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Descuento)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Impuesto_Producto)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Total)
                    </td>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descuento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Impuesto_Producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <img src="~/icons8-eliminar-96 (1).png" width="30" height="30" id="eliminar" />
    <img src="~/lupa.png" width="30" height="30" id="lupa" />
    <img src="~/canasta.png" width="30" height="30" id="canasta" />

</div>
<br />
<br />

<a style="color: white; font-family:'Radley'; background-color:#0B73D5 ; font-size: 15px; font-weight:normal"  class="btn btn-success"> Continuar</a>

